<!doctype html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/default.css">
    <!-- for mathjax support -->

    {% if page.usemathjax %}
      <script>
        window.MathJax = {
          loader: {load: ['[tex]/cases']},
          tex: {
            packages: {'[+]': ['cases']},
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']],
            processEscapes: true,
            equationNumbers: { autoNumber: "AMS" }
          }
        };
      </script>
      <script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js"></script>
    {% endif %}
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
  </body>
</html>
